<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}" lang="">

<main layout:fragment="content">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=yes, initial-scale=1.0,maximum-scale=3.0,minimum-scale=0.5">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <title>LogIn</title>
    </head>

    <body>
    <!--head 상단 Start-->
    <header>
        <a href="./home.html" class="logo">
            <img src="../../images/SmDynasty.JPG" alt="homelogo">

        </a>
        <section class="right">
            <a href="#">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </a>
        </section>
    </header>
    <!--head 상단 End-->
    <!--nav Start-->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="login.html"><b>Log In</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="product.html"><b>Product</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#"><b>Accessory</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><b>News</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><b>Sign Up</b></a>
        </li>
    </ul>
    <!--nav End-->
    <hr>
    <!--Main Log In form Start-->
    <main>
        <div class ="container text-center" >
            <h1 class="Disabled">
                <b><img src="../../images/SmDynasty.JPG"  width='130' alt="loginLogo" ></b>
            </h1>
            </a>
        </div>

        <div class="container" align="center">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-signin" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email"
                               maxlength='40' size="40" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="PassWord" maxlength='20' size="40" required autofocus >
                    </div>
                    <div style="padding-top: 20px;">
                        <button type="submit" id="signbtn" class="btn btn-lg btn-success btn-block">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!--Main Log In form End-->
    <hr>
    <!--Footer Start-->
    <footer >
        <p><b>&copy; WebMarket</b></p>
        <div >
            <span>
                <a href="#" class="bm">이용약관</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" class="bm">개인정보 처리방침</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" class="bm">회사소개</a>
            </span>
        </div>
    </footer>
    <!--Footer End-->
    </body>
</main>
</html>